body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4; /* Set your desired background color */
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff; /* Set your desired background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.heart-container {
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.heart-container img {
    width: 100%;
    height: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
}

/* Media query for screens smaller than 600px (phones) */
@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}
